{% extends "base.html" %}
{% load static %}

{% block main %}
    <section class="inner-page" id="products-page">
        <div class="container-fluid" id="page-hero">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 px-0">
                                <h1>فروشگاه روبیک مارکت</h1>
                                <p>هر آنچه نیاز دارید در این فروشگاه موجود است</p>
                                <nav aria-label="breadcrumb">
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <div class="row">
                            <div class="col-12 col-lg-3 px-3 px-lg-0">
                                <!-- Side Panel -->
                                {% include "product/partials/Side_Filter.html" %}
                                <!-- /Side Panel -->
                            </div>
                            <div class="col-12 col-lg-9 px-0 pl-lg-0 pr-lg-2 mt-2 mt-lg-0">
                                <!-- Filters -->
                                {% if products %}
                                    <div id="order-filters">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-12 col-sm-10 my-1">
                                                    <span class="d-block d-sm-inline-block">مرتب سازی بر اساس:</span>
                                                    <span class="order-filter d-block d-sm-inline-block {% if ordering == 'most-expensive' %}active{% endif %}"
                                                          hx-get="{{ request.path }}?ordering=most-expensive{{ query_string }}"
                                                          hx-trigger="click once"
                                                          hx-target="#product-list">گران‌ترین</span>
                                                    <span class="order-filter d-block d-sm-inline-block {% if ordering == 'cheapest' %}active{% endif %}"
                                                          hx-get="{{ request.path }}?ordering=cheapest{{ query_string }}"
                                                          hx-trigger="click once"
                                                          hx-target="#product-list">ارزان‌ترین</span>
                                                </div>
                                                <div class="col-12 col-sm-2 pt-1 text-end">
                                                    <span>{{ product_count }} کالا</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Filters -->

                                    <div class="mt-2" id="pager">
                                        <div class="container">
                                            <div class="row row-cols-1 gx-md-4">
                                                <!-- Products -->
                                                {% for product in page_obj %}
                                                    <div class="col">
                                                        <!-- Product Box -->
                                                        <div class="encode4326654321vfb-row">
                                                            <div class="row">
                                                                <div class="col-12 col-md-4">
                                                                    <a href="{% url "product:product_detail" product.id %}">
                                                                        <div class="image"
                                                                             style="background-image: url({{ product.image.url }})"></div>
                                                                    </a>
                                                                </div>
                                                                <div class="col-12 col-md-8">
                                                                    <div class="details py-3 px-3">
                                                                        <div class="category">
                                                                            <a href="{% url "product:product_detail" product.id %}">گوشی
                                                                                موبایل</a>
                                                                            &nbsp;/&nbsp;
                                                                            <a href="{% url "product:product_detail" product.id %}">{{ product.category.title }}</a>
                                                                        </div>
                                                                        <a href="{% url "product:product_detail" product.id %}">
                                                                            <h2>{{ product.title }}</h2></a>
                                                                        <p>{{ product.description|truncatechars:200 }}</p>
                                                                        <div class="encode4365gbf265g43d mb-2">{{ product.price }}
                                                                            تومان
                                                                        </div>
                                                                        <a href="{% url 'product:product_detail' product.id %}">
                                                                            <div class="btn btn-sm btn-success">مشاهده و
                                                                                خرید
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /Product Box -->
                                                    </div>
                                                {% endfor %}
                                                <!-- /Products -->
                                            </div>

                                            <!-- Pagination Controls -->
                                            <div class="row">
                                                    <div id="pagination-bg">
                                                        <div class="pagination">
                                                        <ul class="pagination justify-content-center pagination-sm">
                                                           {% if page_obj.has_previous %}
                                                                    <a href="?page=1">&laquo; first</a>
                                                                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                                                {% endif %}
                                                        </ul>
                                                        <ul class="pagination justify-content-center pagination-sm">
                                                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                                        </ul>
                                                        <ul class="pagination justify-content-center pagination-sm">
                                                        {% if page_obj.has_next %}
                                                                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                                                                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                                                {% endif %}
                                                        </ul>
                                                        </div>
                                                    </div>
                                            </div>
                                            <!-- /Pagination Controls -->
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
